h1{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: blue;
    padding-left:100px;
    padding-right: 100px;
    color: wheat;
    padding-left: 0px;
}

